.DS_Store
datasets/
checkpoints/
*.pkl
results/
references/
__pycache__/
*.py[cod]
coco/
*.sif
*.def
wandb/
run*
tfrecords/
checkpoints/*.pt
exp*.md
assets/
vis/
*.tar.gz
*.zip
*.json
test*
submit_jobs/
data/videodata/
data/.locks/
